* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Prevent scrollbars on the body */
}

.main-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 320px;
    flex-shrink: 0;
    background-color: #1e1e1e;
    padding: 15px;
    border-right: 1px solid #333;
    transition: margin-left 0.3s ease-in-out;
    margin-left: 0; /* Default is visible */
}

.sidebar.sidebar-hidden {
    margin-left: -320px; /* Hide by pulling off-screen */
}

.input-container {
    display: flex;
    margin-bottom: 15px;
}

.search-container {
    display: flex;
    margin-bottom: 15px;
}

#search-channel-input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #e0e0e0;
    font-size: 14px;
}


#m3u-url {
    flex-grow: 1;
    padding: 8px 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #e0e0e0;
    font-size: 14px;
}

#load-btn {
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    transition: background-color 0.2s;
}

#load-btn:hover {
    background-color: #0056b3;
}

.channel-container {
    flex-grow: 1;
    display: flex;
}

#channel-list {
    width: 100%;
    border: 1px solid #444;
    background-color: #2c2c2c;
    color: #e0e0e0;
    border-radius: 4px;
    padding: 5px;
    font-size: 15px;
}

#channel-list option {
    padding: 8px 10px;
    cursor: pointer;
}

#channel-list option:hover {
    background-color: #007bff;
}

.video-container {
    flex-grow: 1;
    display: flex;
    background-color: #000;
}

#video-player {
    width: 100%;
    height: 100%;
}
